/* frontend/src/styles/buttons.css */
button {
  padding: 6px 12px;
  margin: 5px;
  cursor: pointer;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
}

input {
  padding: 5px;
  margin-right: 5px;
}
