body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

button {
  padding: 6px 12px;
  margin: 5px;
  cursor: pointer;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  opacity: 0.85;
}

input {
  padding: 6px;
  margin-right: 10px;
}

li {
  padding: 8px;
  list-style: none;
  margin-bottom: 5px;
  background: #f1f1f1;
  border-radius: 4px;
}
